.codegraph
.git
*.pyc
__pycache__
.bb-crs
.dockerignore
Dockerfile
target
data
contracts/*
!contracts/crosschain
!contracts/crosschain/**
!contracts/intex
!contracts/intex/**
!contracts/precompiles
!contracts/precompiles/**
!contracts/smart-account
!contracts/smart-account/**
!contracts/tokens
!contracts/tokens/**
.serena
docs
