# Private key for signing transactions (without 0x prefix)


PRIVATE_KEY=

# LayerZero7683 Router address (same on all chains)
ROUTER=0xE4761e57f4944aEb874a1Cba569f9323Ec59090c

# Fill deadline (seconds after order creation)
FILL_DEADLINE_SECONDS=60

# Number of blocks to query back from current block (for event queries)
QUERY_BLOCKS_BACK=1999

# RPC URLs
BSC_TESTNET_RPC=https://bsc-testnet-rpc.publicnode.com
SEPOLIA_RPC=https://ethereum-sepolia-rpc.publicnode.com
OUTBE_PRIV_RPC=https://eth.p.outbe.net
OUTBE_DEV_RPC=https://eth.d2.outbe.net

# Chain IDs
BSC_CHAIN_ID=97
SEPOLIA_CHAIN_ID=11155111
OUTBE_PRIV_CHAIN_ID=512512
OUTBE_DEV_CHAIN_ID=424242

# Token addresses
# INPUT_TOKEN - token address on origin chain
# OUTPUT_TOKEN - token address on destination chain
# 0x0000000000000000000000000000000000000000 for native
INPUT_TOKEN=0x0000000000000000000000000000000000000000
#0xe6E008521e1DB2a638863eac4682c2561874F37b
#0x5cDF01b5Cb3C82a71f423dB6a91c721f138EbEce
OUTPUT_TOKEN=0x0000000000000000000000000000000000000000
